<IfModule mod_rewrite.c>
  RewriteEngine On

  # Força HTTPS e remove www
  RewriteCond %{HTTPS} !=on [OR]
  RewriteCond %{HTTP_HOST} ^www\.cticentrotecnicointegrado\.com\.br$ [NC]
  RewriteRule ^ https://cticentrotecnicointegrado.com.br%{REQUEST_URI} [R=301,L]

  # SPA React/Vite
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
